        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <ul class="nav nav-tabs" id="myFiddlesTabs">
                <li class="active"><a href="#fiddle_history" data-toggle="tab">{{t "control.fiddleHistorySession"}}</a></li>
                <li id="favorites_tab"><a href="#favorites" data-toggle="tab">{{t "control.favorites"}} <i class="icon-star"></i></a></li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="fiddle_history">
            </div>
            <div class="tab-pane" id="favorites">
            </div>
        </div>
