{{#if preparationTime}}
<div class="alert alert-success database-messages">
{{t "caption.preparationTime"}}: {{preparationTime}}{{t "caption.timeMS"}}
</div>
{{/if}}
{{#each_with_index sets}}
<div class="set" id="set_{{index}}">
    {{#if this.RESULTS}}{{#if this.RESULTS.DATA.length}}
        <pre class="results">
|{{#each_simple_value_with_index this.RESULTS.COLUMNS}} {{result_display_padded ../this/RESULTS/COLUMNWIDTHS}} |{{/each_simple_value_with_index}}
|{{#each_simple_value_with_index this.RESULTS.COLUMNS}}{{divider_display ../this/RESULTS/COLUMNWIDTHS}}{{/each_simple_value_with_index}}{{#each this.RESULTS.DATA}}
|{{#each_simple_value_with_index this}} {{result_display_padded ../../this/RESULTS/COLUMNWIDTHS}} |{{/each_simple_value_with_index}}{{/each}}
        </pre>
        <div>
        {{t "caption.recordCount"}}: {{this.RESULTS.DATA.length}}
        </div>
    {{/if}}{{/if}}
    {{#if this.RESULTSETS}}
        {{#each_with_index2 this.RESULTSETS}}
        <pre class="results">
|{{#each_simple_value_with_index this.COLUMNS}} {{result_display_padded ../this/COLUMNWIDTHS}} |{{/each_simple_value_with_index}}
|{{#each_simple_value_with_index this.COLUMNS}}{{divider_display ../this/COLUMNWIDTHS}}{{/each_simple_value_with_index}}{{#each this.DATA}}
|{{#each_simple_value_with_index this}} {{result_display_padded ../../this/COLUMNWIDTHS}} |{{/each_simple_value_with_index}}{{/each}}
        </pre>
        <div>
        {{t "caption.recordCount"}}: {{this.DATA.length}}
        </div>
        {{/each_with_index2}}
    {{/if}}
    {{#if this.WARNINGS}}
        {{t "caption.warnings"}}:
        <div id="warnings_{{index}}" class="alert alert-success database-messages">
        {{#each_with_index2 this.WARNINGS}}
            <div>{{this}}</div>
        {{/each_with_index2}}
        </div>
    {{/if}}
    {{#if this.SUCCEEDED}}
    <div id="messages_{{index}}" class="alert alert-success database-messages">
        <i class="icon-ok"></i>
        {{t "caption.executionTime"}}: {{this.EXECUTIONTIME}}{{t "caption.timeMS"}}
        {{#if this.RESULTS}}{{#if this.EXECUTIONPLAN.DATA.length}}
        <a href="#executionPlan" class="executionPlanLink"><i class="icon-plus"></i>{{t "control.viewExecutionPlan"}}</a>
        {{/if}}{{/if}}
        <a href="#!{{../../schemaDef/dbType/id}}/{{../../schemaDef/short_code}}/{{../../id}}/{{index}}" class="setLink"><i class="icon-share-alt"></i> {{t "control.link"}}</a>
    </div>

    {{#if this.EXECUTIONPLAN.DATA.length}}
        <table class="executionPlan table table-bordered" style="{{#if this.RESULTS}}display:none{{/if}}">
            <tr>
            {{#each this.EXECUTIONPLAN.COLUMNS}}
            <th>{{this}}</th>
            {{/each}}
            </tr>
            {{#each this.EXECUTIONPLAN.DATA}}
            <tr>
                {{#each this}}
                <td><div style="position:relative">{{{this}}}</div></td>
                {{/each}}
            </tr>
            {{/each}}

            {{#if ../../../schemaDef/dbType/isSQLServer}}
                <tr>
                    <td><a href="index.cfm/Fiddles/getSQLPlan?db_type_id={{../../../../schemaDef/dbType/id}}&short_code={{../../../../schemaDef/short_code}}&query_id={{../../../../id}}&id={{index}}">{{t "control.downloadSqlplan"}}</a></td>
                </tr>
            {{/if}}

            {{#if ../../../schemaDef/dbType/isPostgreSQL}}
                <tr>
                    <td><form action="http://explain.depesz.com/" target="_new"><input type="hidden" name="title" value="{{../../schemaDef/dbType/id}}/{{../../schemaDef/short_code}}/{{../../id}}/{{index}}"><input type="hidden" name="plan" value=""><input type="submit" class="btn btn-info depesz" value="{{t 'control.viewOnDepesz'}}"></form></td>
                </tr>
            {{/if}}

        </table>
    {{/if}}

    {{else}}
    <div id="messages_{{index}}" class="alert alert-error database-error database-messages"><i class="icon-remove"></i>{{this.ERRORMESSAGE}}</div>
    {{/if}}
</div>
{{/each_with_index}}
